<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
      <a class="navbar-brand">Withdraw</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form>
        <div class="mb-3">
          <label class="form-label">Amount</label>
          <input type="text" class="form-control" name="amount" #amount>
        </div>
        <div class="row d-grid gap-2">
          <button (click)="withdraw(amount)" type="submit" class="btn btn-primary">withdraw</button>
          <button (click)=back() class="btn btn-secondary">back</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>